*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --antd-wave-shadow-color: green;
}



.wheatherApp{
    display: flex;
}
.location-box{
    margin: 10px 0px 0px 140px;
}
.weather-box{
    margin: 0px 0px 0px 140px;
}
.single-day-temp{
    display: flex;
    margin: 0px 0px 0px 3px;
}
.single-day-temp>h2 {
    margin: 0;
}
.single-day-temp>h6{
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
} 
.single-day-temp>h5{
    margin-left: 80px;
    font-size: 7px;
}
.card-display{
    display: flex;
    gap: 1rem;
    margin-left: 140px;
    
}
.weather-image{
    width: 30px;
    height: 30px;
}
